.title {
  display: flex;
  justify-content: center;

}

.input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  height: 600px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 70%;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  margin: auto auto;
}

.cardText {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.buttonsContainer {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.cardButtons {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: auto;
}

.cardButtons:hover {
  opacity: 0.7;
}

.icon{
  width: 10%;
  height: auto;
}